.container-pastas {
  display: flex;
  align-items: stretch;
  align-self: baseline;
}

.pastas-area .pastas-container {
  margin-left: 10px;
  text-align: center;
  padding:15px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.pastas-area .pastas-container:hover {
  padding:15px;
  border: 1px solid #AAA;
  border-radius: 5px;
  cursor: pointer;
}
