.container-pastas {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-self: baseline;
  overflow: auto;
}

/*.pastas-area .pastas-container {
  text-align: center;
  padding:15px;
  border: 1px solid #CCC;
  border-radius: 5px;
}*/

.container-pastas .pastas-container div.pastas-container-item {
  padding:15px;
  border: 1px solid #AAA;
  border-radius: 5px;
  cursor: pointer;
}

.container-pastas .pastas-container div.pastas-container-item {
  text-align: center;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}

/* FIND BUTTON */
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* PAGINAÇÃO DAS IMAGENS */
.paginatorLeft {
  z-index: 1;
  position: absolute;
  left:25px;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: center;
}
.paginatorRight {
  z-index: 1;
  position: absolute;
  right :25px;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: center;
}

.paginator a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    opacity: 0.7;
    cursor:pointer;
}

.paginator a:hover {
    background-color: #ddd;
    color: black;
}

.paginator .previous {
    background-color: #f1f1f1;
    color: black;
}

.paginator .next {
    background-color: #4CAF50;
    color: white;
}

.paginator .round {
    border-radius: 50%;
}

/* INSERÇÃO DA FILA */
.select-min-interval {
  max-width: 180px;
  display: inline;
}
.group-interval-repeat {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:space-around;
}
